.example {
  color: orangered;
}

.principle {
  display: table;
  padding: 7px;
  background-color: peachpuff;
  color: navy;
}

.available span{
  padding: 4px;
  background: greenyellow;
}

.availableDemo span{
  padding: 4px;
  background: turquoise;
}

.nearby span:after{
  content: "nearby";
  margin-left: 10px;
}